In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create path variable
file = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-3/.references/ISO_3166.csv'

# Load csv in dataframe
df = pd.read_csv(file, index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, Afghanistan to Zimbabwe
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   alpha-2                   248 non-null    object
 1   alpha-3                   249 non-null    object
 2   country-code              249 non-null    int64
 3   iso_3166-2                249 non-null    object
 4   region                    248 non-null    object
 5   sub-region                248 non-null    object
 6   intermediate-region       107 non-null    object
 7   region-code               248 non-null    float64
 8   sub-region-code           248 non-null    float64
 9   intermediate-region-code  107 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 21.4+ KB

In [4]:
df.head()

,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
name,,,,,,,,,,
Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [5]:
df['region'].nunique()

5

In [6]:
df = df[['alpha-3', 'region']].set_index('alpha-3')

In [7]:
df.shape

(249, 1)

In [8]:
df.isna().sum()

region    1
dtype: int64

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
eq = {'Asia':'Other_Asia', 'Europe':'Other_Europe', 'Africa':'Other_Africa', 'Oceania':'Other_Oceania', 'Americas':'Other_Americas'}
df.replace(eq, inplace=True)

In [11]:
df.head()

                region
alpha-3
AFG         Other_Asia
ALA       Other_Europe
ALB       Other_Europe
DZA       Other_Africa
ASM      Other_Oceania

In [12]:
df.value_counts()

region
Other_Africa      60
Other_Americas    57
Other_Europe      51
Other_Asia        51
Other_Oceania     29
dtype: int64

In [13]:
# Writing df dataframe to csv

path = 'C:/Users/javie/OneDrive/Documents/springboard_projects/Capstone-3/data/raw/ISO_country_code.csv'

df.to_csv(path)